/*
 * ABAPGIT COLOR THEME CSS - DEFAULT
 */

:root {
  --theme-background-color: #E8E8E8;
  --theme-container-background-color: #f2f2f2;
  --theme-container-border-color: lightgrey;
  --theme-primary-font: Arial,Helvetica,sans-serif;
  --theme-primary-font-color: #333333;
  --theme-primary-font-color2: #444444;
  --theme-primary-font-color3: #404040;
  --theme-primary-font-color-reduced: #ccc;
  --theme-container-border-color: #ddd;
  --theme-input-control-border-color-focus: #8cadd9;
  --theme-input-control-bg-color: #ffffff;
  --theme-input-control-bg-color-readonly: #ffffff;
  --theme-font-size: 12pt;
  --theme-link-color: #4078c0;
  --theme-table-border-color: #eee;
  --theme-table-background-color: #fff;
  --theme-table-background-color-hover: #f4f4f4;
  --theme-greyscale-dark: #808080;
  --theme-greyscale-medium: #b3b3b3;
  --theme-greyscale-light: #ccc;
  --theme-greyscale-lighter: lightgrey;
  --theme-linkhint-background: lightgreen;
  --theme-debug-color: #aaa;
}

.logo .icon.icon-abapgit {
  color: #362701;
}
