@font-face {
  font-family: 'ag-icons';
  src: url('../font/ag-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ag-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-attention:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-folder:before { content: '\e802'; } /* '' */
.icon-doc:before { content: '\e803'; } /* '' */
.icon-flow-branch:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-error:before { content: '\e808'; } /* '' */
.icon-briefcase:before { content: '\e809'; } /* '' */
.icon-flash:before { content: '\e80a'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */