@font-face {
    font-family: "ag-icons";
    font-weight: normal;
    font-style: normal;
    src: url("../font/ag-icons.woff") format("woff");
}

.icon {
    line-height: 1;
}

.icon:before {
    font-family: ag-icons !important;
    font-style: normal;
    font-weight: normal !important;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: text-top;
    /* width: 1.1em; */
    /* padding-right: 0.2em */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
}

.icon.large { font-size: 200%; }

.icon-abapgit:before { content: "\f101"; }
.icon-abaplint:before { content: "\f102"; }
.icon-arrow-circle-up:before { content: "\f103"; }
.icon-bars:before { content: "\f104"; }
.icon-bolt:before { content: "\f105"; }
.icon-box:before { content: "\f106"; }
.icon-briefcase:before { content: "\f107"; }
.icon-bug-solid:before { content: "\f108"; }
.icon-check:before { content: "\f109"; }
.icon-chevron-down:before { content: "\f10a"; }
.icon-chevron-left:before { content: "\f10b"; }
.icon-chevron-right:before { content: "\f10c"; }
.icon-chevron-up:before { content: "\f10d"; }
.icon-circle-solid:before { content: "\f10e"; }
.icon-cloud-commit:before { content: "\f10f"; }
.icon-cloud-solid:before { content: "\f110"; }
.icon-cloud-upload-alt:before { content: "\f111"; }
.icon-code-branch:before { content: "\f112"; }
.icon-code-commit:before { content: "\f113"; }
.icon-cog:before { content: "\f114"; }
.icon-copy-solid:before { content: "\f115"; }
.icon-edit-solid:before { content: "\f116"; }
.icon-exclamation-circle:before { content: "\f117"; }
.icon-exclamation-triangle:before { content: "\f118"; }
.icon-file-alt:before { content: "\f119"; }
.icon-file-code:before { content: "\f11a"; }
.icon-file-image:before { content: "\f11b"; }
.icon-file:before { content: "\f11c"; }
.icon-fire-alt:before { content: "\f11d"; }
.icon-folder:before { content: "\f11e"; }
.icon-git-alt:before { content: "\f11f"; }
.icon-info-circle-solid:before { content: "\f120"; }
.icon-lock:before { content: "\f121"; }
.icon-paste-solid:before { content: "\f122"; }
.icon-plug:before { content: "\f123"; }
.icon-question-circle-solid:before { content: "\f124"; }
.icon-redo-alt-solid:before { content: "\f125"; }
.icon-server-solid:before { content: "\f126"; }
.icon-sliders-h:before { content: "\f127"; }
.icon-snowflake:before { content: "\f128"; }
.icon-star:before { content: "\f129"; }
.icon-times-solid:before { content: "\f12a"; }
.icon-tools-solid:before { content: "\f12b"; }
.icon-truck-solid:before { content: "\f12c"; }
.icon-user-cog-solid:before { content: "\f12d"; }
.icon-user-solid:before { content: "\f12e"; }