name: test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: npm install
      run: npm install
    - name: npm run unit
      run: npm run unit
    - name: npm run coverage
      run: npm run coverage
    - name: npm run integration
      run: npm run integration
